# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
**/node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage/

# next.js
.next/
**/.next/
out/
build/
dist/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
build_log.txt

# turbo
.turbo/

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# backend specific
backend/my-express-mongodb-app/.env
backend/my-express-mongodb-app/node_modules
backend/my-express-mongodb-app/logs/*.log

# OS specific
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
next-env.d.ts
